
<%= form_tag('/products') do %>
<%= text_field_tag :product %>
<%= submit_tag 'add to cart' %>
<% end %>
<ul>
<% if cart %>
	<% cart.each do |item| %>
	<li><%= item %></li>
	<% end %>
<% end %>
</ul>